<?xml version="1.0" encoding="utf-8"?>
<data>
	<settings>
		<assets>
			<packages default="assets" audio="assets.audio" />
		</assets>
		<font name="assets_fonts_orbitron_ttf" />
	</settings>
	<gui>
		<buttons next="NEXT" start="START" />
		<scenes>
			<intro title="INTRODUCTION" instructions="Click on all the invaders as fast as possible!" />
			<game />
			<results title="GAME OVER" win="A new personal best of " lose="You didn't beat your previous time of " />
		</scenes>
	</gui>
</data>
