import $(PackageDot)Factory;
import haxe.Resource;
import awe6.core.Context;

/**
$(CBI)* ...
$(CBI)* @author $(DefaultUser)
$(CBI)*/

class Main $(CSLB){	
	static function main() $(CSLB){
		#if debug
		var l_isDebug:Bool = true;
		#else
		var l_isDebug:Bool = false;
		#end
		var l_factory = new Factory( new Context(), l_isDebug, Resource.getString( "config" ) );
	}
	
	public function new() $(CSLB){
		// needed for good form
	}
	
}
